body {
    font-family:sans-serif ;
    /* background-image: url(/background2.jpg); */
    background-color: whitesmoke ;
    margin: 0%;
    padding: 0%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    /* margin: 0; */
 }
 .container {
     width: 380px;
     margin: auto;
     border-radius:25px ;
     background-color: rgba(0, 0, 0, 0.1);
     margin-top: 70px;
 }
 
 .header{
     text-align: center;
     padding-top: 100px;
     padding-bottom: 50px;
 
 }
 
 .header h1 {
     color: #333;
     font-size: 45px;
 }
 
 .main {
     text-align: center;
 }
 .main input{
     width: 300px;
     height: 40px;
     border: none;
     outline:none;
     padding-left: 40px;
     box-sizing: border-box;
     font-size: 15px;
     color: #333;
     margin-bottom: 40px;
     border-radius: 25px;
 }
 .main button  {
     background-color: #83acf1;
     padding-left: 0px;
     letter-spacing: 1px;
     font-weight:bold ;
     margin-bottom: 90px;
     width: 100px;
     height: 40px;
     border: none;
     border-radius: 25px;
     
     
 }
 .main button a{
   text-decoration:none;
   color: black;
   margin-left: -96px;
   
 }
 .main button:hover{
     box-shadow:  2px 2px 5px #555;
     background-color: #7799d4;
 }
 .main input:hover{
     box-shadow:  2px 2px 5px #555;
     background-color: #ddd;
 }
 .main span {
     position: relative;
 }
 
 .main i {
     position: absolute;
     left: 15px;
     color: #333;
     font-size: 16px;
     top: 2px;
    
 }
 
 /* The side navigation menu */
 *{
  /* position: relative; */
   margin: 0;
   padding: 0;
   outline:none;
   border: none;
   text-decoration: none;
   box-sizing: border-box;
   font-family: "poppins", sans-serif;
 }
 body{
   background: #dfedf5;
 }
 nav{
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   height: 100%;
   background: #fff;
   width: 90px;
   overflow: hidden;
   transition: width 0.2s linear;
   box-shadow: 0 20px 35px rgba(0,0,0,0.1);
 }
 .logo{
   text-align: center;
   display: flex;
   transition: all 0.5s ease;
   margin: 10px 0 0 10px;
 }
 .logo img{
   width:45px;
   height:45px;
   border-radius: 50%;
 }
 .logo span{
   font-weight: bold;
   padding-left:15px;
   font-size: 18px;
   text-transform: uppercase;
 }
 a{
   position:relative;
   color:rgb(85,83, 83);
   font-size: 14px;
   display: table;
   width:300px;
   padding: 10px;
 }
 .fas{
   position: relative;
   width: 70px;
   height: 40px;
   top: 14px;
   font-size: 20px;
   text-align: center;
 }
 .nav-item{
   position: relative;
   top: 12px;
   margin-left: 10px;
 }
 .one{
   margin-left: 20px;
  white-space: nowrap;
 }
 a.hover{
   background-color:gray;
 }
 nav:hover{
   width: 200px;
   transition: all 0.5s ease;
 } 
 .logout{
   position: absolute;
   bottom: 0;
 }
 .sidebar{
  position: fixed;
}
   /* Active/current link */
   .sidebar a.active {
     background-color: #83acf1;
     color: white;
   }  
   /* Links on mouse-over */
   .sidebar a:hover:not(.active) {
     background-color: #555;
     color: white;
   }  
   /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
   div.content {
     margin-left: 200px;
     padding: 1px 16px;
     height: 1000px;
   }
   
   /* On screens that are less than 700px wide, make the sidebar into a topbar */
   @media screen and (max-width: 700px) {
     .sidebar {
       width: 100%;
       height: auto;
       position: relative;
     }
     .sidebar a {float: left;}
     div.content {margin-left: 0;}
   }  
   /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
   @media screen and (max-width: 400px) {
     .sidebar a {
       text-align: center;
       float: none;
     }
   }
 
 /* Top nav bar*/
 .top-bar {
  background-color: #fff;
  color: black;
  padding: 10px;
  text-align: end;
}
 /*People.html*/
 /* input boxes */
 .newperson{
   background-color: #aabbd1;
   padding-top: 3%;
   padding-bottom: 3%;  
   width: 40%;
   margin: auto;
   text-align: center;
   border-radius:25px ;
 }
 .newperson input{
   display: inline-block;
   border-radius: 25px;
   width: 10%;
   margin-right: 2%;
   border-radius:25px ;  
   padding-top: 10px;
   padding-bottom: 5px;
   cursor: ointer;
   width: 200px;
   height: 40px;
   border: none;
   outline:none;
   padding-left: 40px;
   box-sizing: border-box;
   font-size: 15px;
 }
 #newuser{
   margin-bottom: 10px;
 }
 #userForm{
   display: none;
 }
 #users{
  text-align: center;
 }
 .pcontainer{
  text-align: center;
 }
 .peopleArray{
  text-decoration: none;
  list-style-type: none;
  font-size: 22px;
  font-weight: bold;
 }
 .data {
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  color: #333;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #ccc;
}

/* tables styling */
.resultsCard {
  margin: 0 auto; /*This centers the element horizontally*/
  width: 60%; /* Adjust the width as needed */
}

.table {
  width: 100%;
  border-collapse: collapse;
}

/* Style the table headers and rows as needed */
.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

/* Style the table headers */
.table th {
  background-color: #83acf1;
}
.table td{
  background-color: white;
}

/*pop up box*/
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* Style for the pop-up box */
#popup-box {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

/* Style for the close button */
#close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.info-chart{
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
 























